asgiref==3.8.1
cramjam==2.8.3
crispy-tailwind==1.0.3
dj-database-url==2.2.0
Django==5.1.1
django-allauth==64.2.1
django-crispy-forms==2.3
django-summernote==0.8.20.0
dnspython==2.6.1
gunicorn==23.0.0
pillow==10.4.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
pykerberos==1.2.4
python-dotenv==1.0.1
python-snappy==0.7.2
sqlparse==0.5.1
whitenoise==6.7.0
