{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
{{ form.media.css }}
{% endblock %}

{% block content %}
<div class="bg-gray-100 min-h-screen">
    <!-- Header -->
    <header class="bg-white shadow">
        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 flex justify-between items-center">
            <h1 class="text-3xl font-bold text-gray-900">
                {% if form.instance.pk %}Edit{% else %}Create{% endif %} About
            </h1>
        </div>
    </header>

    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
            <div class="p-6 bg-white border-b border-gray-200">
                <form method="post" enctype="multipart/form-data" class="space-y-6">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    {% if about.image %}
                    <img src="{{ about.image.url }}" alt="{{ about.title }}"
                        class="w-full h-64 object-cover mb-6 rounded-lg">
                    {% endif %}
                    <div class="flex justify-end">
                        <button type="submit"
                            class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </main>

    {% endblock %}

    {% block postloadjs %}
    {{ form.media.js }}
    {% endblock %}