{% extends 'base.html' %}
{% load static %}


{% block content %}

<body class="font-body">

    <!-- home section -->
    <section class="bg-white mb-20 md:mb-52 xl:mb-72 relative">
        <div class="container max-w-screen-xl mx-auto px-4 relative">
            <div class="flex items-center justify-center xl:justify-start">
                <div class="mt-28 text-center xl:text-left relative z-10">
                    <h1 class="font-semibold text-3xl md:text-4xl lg:text-5xl text-gray-900 leading-normal mb-6">
                        {{ home.main_title|safe }}
                    </h1>
    
                    <p class="font-normal text-xl text-gray-400 leading-relaxed mb-12">
                        {{ home.sub_title|safe }}
                    </p>
                    <p class="font-normal text-l text-gray-400 leading-relaxed mb-12">
                        {{ home.call_to_action|safe }}
                    </p>
    
                    <button
                        class="px-6 py-4 bg-green-700 text-white font-semibold text-lg rounded-xl hover:bg-green-900 transition ease-in-out duration-500">Contact
                        us</button>
                </div>
            </div>
        </div>
    
        <div class="hidden xl:block xl:absolute z-0 top-0 right-0">
            {% if hero_image_url %}
                <img src="{{ hero_image_url }}" alt="Home page image">
            {% endif %}
        </div>
    </section>
    <!-- home section //nd -->

    <!-- feature section -->
    <section class="bg-white py-10 md:py-16 relative overflow-hidden">
        <div class="container max-w-screen-xl mx-auto px-4 relative z-10">
            <div class="flex flex-col lg:flex-row justify-end">
                {% if feature and feature_image_url %}
                <div class="lg:absolute left-0 top-0 w-full lg:w-1/2 h-64 lg:h-full mb-8 lg:mb-0">
                    <img src="{{ feature_image_url }}" alt="Feature image" class="w-full h-full object-cover object-center">
                </div>
                {% endif %}
    
                <div class="lg:w-1/2 lg:ml-auto text-center lg:pl-12">
                    {% if feature %}
                    <h1 class="font-semibold text-gray-900 text-3xl text-center leading-normal mb-6">
                        {{ feature.feature_title|safe }}
                    </h1>
    
                    <p class="font-normal text-gray-400 text-md md:text-xl text-center mb-30">
                        {{ feature.feature_sub_title|safe }}
                    </p>
                    {% endif %}
    
                    <div class="grid grid-cols-12">
                        <div class="col-span-full lg:col-span-10 lg:col-start-2">
                            <div class="flex flex-col space-y-20 mt-10">
                                {% for item in feature_items %}
                                <div class="flex flex-row items-center justify-center lg:justify-start mb-5">
                                    <div class="w-24 flex-shrink-0 flex justify-center">
                                        <div class="w-20 h-20 bg-gray-200 rounded-lg flex items-center justify-center">
                                            <i class="{{ item.icon }} text-green-900 fa-2x"></i>
                                        </div>
                                    </div>
                                    <div class="flex-grow max-w-md"> <!-- Added max-width for better text control -->
                                        <h4 class="font-semibold text-gray-900 text-xl mb-2">{{ item.title }}</h4>
                                        <p class="font-normal text-gray-400 text-l leading-relaxed">{{ item.description }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature section //end -->

    <!-- gallery section -->
    <section class="bg-white py-10 md:py-16">
        <div class="container max-w-screen-xl mx-auto px-4">
            <h1 class="font-semibold text-gray-900 text-4xl text-center mb-10">Our Gallery</h1>
    
            {% if gallery_images %}
                <div class="flex flex-wrap -mx-2">
                    {% for image_url in gallery_images %}
                        <div class="w-1/2 md:w-1/3 lg:w-1/4 px-2 mb-4">
                            <img src="{{ image_url }}" alt="Gallery image {{ forloop.counter }}"
                                 class="w-full h-48 object-cover hover:opacity-75 transition ease-in-out duration-500">
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="text-center text-gray-600">No images in the gallery yet.</p>
            {% endif %}
        </div>
    </section>
    <!-- gallery section //end -->

    <!-- testimonial section -->
    <section class="bg-white py-10 md:py-16">

        <div class="container max-w-screen-xl mx-auto px-4 xl:relative">

            <p class="font-normal text-gray-400 text-lg md:text-xl text-center uppercase mb-6">Testimonial</p>

            <h1 class="font-semibold text-gray-900 text-2xl md:text-4xl text-center leading-normal mb-14">What People
                Say <br> About Dished Up Dining</h1>

            <div class="hidden xl:block xl:absolute top-0">
                <img src="{{ MEDIA_URL }}testimoni-1.png" alt="Image">
            </div>

            <div class="hidden xl:block xl:absolute top-32">
                <img src="{{ MEDIA_URL }}testimoni-2.png" alt="Image">
            </div>

            <div
                class="flex flex-col md:flex-row md:items-center justify-center md:space-x-8 lg:space-x-12 mb-10 md:mb-20">

                <div class="bg-gray-100 rounded-lg mb-10 md:mb-0">
                    <img src="{{ MEDIA_URL }}testimoni-3.png" alt="Image" class="mx-8 my-8">

                    <div class="flex items-center gap-5 mx-8">
                        <i data-feather="star" class="text-yellow-500"></i>
                        <i data-feather="star" class="text-yellow-500"></i>
                        <i data-feather="star" class="text-yellow-500"></i>
                        <i data-feather="star" class="text-yellow-500"></i>
                        <i data-feather="star" class="text-yellow-500"></i>
                    </div>

                    <p class="font-normal text-sm lg:text-md text-gray-400 mx-8 my-8">I recommend anyone to buy house on
                        <br> D’house. I received great customer service <br> from the specialists who helped me.</p>

                    <h3 class="font-semibold text-gray-900 text-xl md:text-2xl lg:text-3xl mx-8 mb-8">Brooklyn Simmons
                    </h3>
                </div>

                <div class="bg-gray-100 rounded-lg">
                    <img src="{{ MEDIA_URL }}testimoni-4.png" alt="Image" class="mx-8 my-8">

                    <div class="flex items-center gap-5 mx-8">
                        <i data-feather="star" class="text-yellow-500"></i>
                        <i data-feather="star" class="text-yellow-500"></i>
                        <i data-feather="star" class="text-yellow-500"></i>
                        <i data-feather="star" class="text-yellow-500"></i>
                        <i data-feather="star" class="text-yellow-500"></i>
                    </div>

                    <p class="font-normal text-sm lg:text-md text-gray-400 mx-8 my-8">D’house is the best property agent
                        in the <br> world. I received great customer service <br> from the D’house agent</p>

                    <h3 class="font-semibold text-gray-900 text-xl md:text-2xl lg:text-3xl mx-8 mb-8">Ralph Edwards</h3>
                </div>

            </div>

        </div> <!-- container.// -->

    </section>
    <!-- testimoni section //end -->

    <!-- book section -->
    <section class="bg-white py-10 md:py-16">

        <div class="container max-w-screen-xl mx-auto px-4 xl:relative">

            <div class="bg-green-800 flex flex-col lg:flex-row items-center justify-evenly py-14 rounded-3xl">

                <div class="text-center lg:text-left mb-10 lg:mb-0">
                    <h1 class="font-semibold text-white text-4xl md:text-5xl lg:text-7xl leading-normal mb-4">Talk to us
                        <br> to discuss</h1>

                    <p class="font-normal text-white text-md md:text-xl">Need more time to discuss? Won’t worry, we are
                        <br> ready to help you. You can fill in the column on the <br> right to book a meeting with us.
                        Totally free.</p>
                </div>

                <div class="hidden xl:block xl:absolute right-0">
                    <img src="{{ MEDIA_URL }}book.png" alt="Image">
                </div>

                <div class="hidden md:block bg-white xl:relative px-6 py-3 rounded-3xl">
                    <div class="py-3">
                        <h3 class="font-semibold text-gray-900 text-3xl">Book a meeting</h3>
                    </div>

                    <div class="py-3">
                        <input type="text" placeholder="Full Name"
                            class="px-4 py-4 w-96 bg-gray-100 placeholder-gray-400 rounded-xl outline-none">
                    </div>

                    <div class="py-3">
                        <input type="text" placeholder="Email"
                            class="px-4 py-4 w-96 bg-gray-100 placeholder-gray-400 rounded-xl outline-none">
                    </div>

                    <div class="py-3 relative">
                        <input type="text" placeholder="Date"
                            class="px-4 py-4 w-96 bg-gray-100 font-normal text-lg placeholder-gray-400 rounded-xl outline-none">

                        <div class="absolute inset-y-0 left-80 ml-6 flex items-center text-xl text-gray-600">
                            <i data-feather="calendar"></i>
                        </div>
                    </div>

                    <div class="py-3 relative">
                        <input type="text" placeholder="Virtual Meeting"
                            class="px-4 py-4 w-96 bg-gray-100 placeholder-gray-400 rounded-xl outline-none">

                        <div class="absolute inset-y-0 left-80 ml-6 flex items-center text-xl text-gray-600">
                            <i data-feather="chevron-down"></i>
                        </div>
                    </div>

                    <div class="py-3">
                        <button
                            class="w-full py-4 font-semibold text-lg text-white bg-green-700 rounded-xl hover:bg-green-900 transition ease-in-out duration-500">Booking</button>
                    </div>
                </div>

            </div>

        </div> <!-- container.// -->

    </section>
    <!-- book section //end -->



    {% endblock %}