{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="bg-gray-100 min-h-screen">
    <!-- Header -->
    <header class="bg-white shadow">
        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 flex justify-between items-center">
            {% if home.logo %}
            <img src="{{ home.logo.url }}" alt="Logo" class="h-12 w-auto">
            {% endif %}
            <h1 class="text-3xl font-bold text-gray-900">Our Menu</h1>
        </div>
    </header>

    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
            <div class="p-6 bg-white border-b border-gray-200">
                <a href="https://online.flippingbook.com/view/205694265/" class="fbo-embed" data-fbo-id="71613c4d75" data-fbo-ratio="3:2" data-fbo-lightbox="yes" data-fbo-width="100%" data-fbo-height="auto" data-fbo-version="1" style="max-width: 100%">Loading Our Latest Menu</a><script async defer src="https://online.flippingbook.com/EmbedScriptUrl.aspx?m=redir&hid=205694265"></script>
            </div>
        </div>
    </div>
</div>
{% endblock %}