{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="bg-gray-100 min-h-screen">
    <!-- Header -->
    <header class="bg-white shadow">
        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 flex justify-between items-center">
            <h1 class="text-3xl font-bold text-gray-900">Our Services</h1>
        </div>
    </header>

    <main>
        <div class="container max-w-screen-xl mx-auto px-4 py-10 md:py-16 relative z-10">
        
            {% if services %}
            <div class="space-y-20">
                {% for service in services %}
                <section class="bg-white py-10 md:py-16 my-8 relative overflow-hidden rounded-lg shadow-sm">
                    <div class="container mx-auto px-4">
                        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-start">
                            <div class="aspect-square w-full max-w-[300px] mx-auto lg:max-w-[250px]">
                                {% if service.image %}
                                <img src="{{ service.image.url }}" alt="{{ service.name }}"
                                    class="w-full h-full object-cover object-center rounded-lg">
                                {% else %}
                                <div class="w-full h-full bg-gray-200 rounded-lg"></div>
                                {% endif %}
                            </div>
            
                            <div class="flex flex-col justify-center text-left">
                                <h2 class="font-semibold text-color4  text-3xl leading-tight mb-4">
                                    {{ service.name }}
                                </h2>
            
                                <p class="font-normal text-color4 text-lg mb-4">
                                    {{ service.sub_title }}
                                </p>
            
                                <div class="text-color4 mb-6">
                                    {{ service.description|safe|truncatewords:50 }}
                                </div>
            
                                {% if service.price %}
                                <p class="text-lg font-semibold text-color4  mb-6">Prices From: ${{ service.price }}</p>
                                {% endif %}
            
                                <div>
                                    <a href="{% url 'service_detail' service.pk %}" 
                                       class="inline-block bg-custom-color1 hover:bg-custom-color2 hover:text-color1 text-color2 font-bold py-2 px-6 rounded-lg transition duration-300">
                                        Learn More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                {% endfor %}
            </div>
            {% else %}
            <p class="text-center text-gray-700">No services available at the moment.</p>
            {% endif %}
        </div>
    </main>
</div>
{% endblock %}