{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="bg-gray-100 min-h-screen">
    <header class="bg-white shadow">
        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 flex justify-between items-center">
       
            <h1 class="text-3xl font-bold text-gray-900">{{ service.name }}</h1>
        </div>
    </header>

    <main>
        <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
            <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                <div class="p-6 bg-white border-b border-gray-200">
                    <h2 class="text-2xl font-bold text-gray-900 mb-2">{{ service.sub_title }}</h2>
                    {% if service.image %}
                    <img src="{{ service.image.url }}" alt="{{ service.name }}"
                        class="w-full h-64 object-cover mb-4 rounded-lg">
                    {% endif %}
                    <div class="prose max-w-none mb-4">
                        {{ service.description|safe }}
                    </div>
                    {% if service.price %}
                    <p class="text-lg font-semibold text-gray-900">Price: £{{ service.price }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if user.is_superuser %}
        <div class="mt-6">
            <a href="{% url 'service_update' service.pk %}"
                class="bg-custom-color1 hover:bg-custom-color2 hover:text-color1 text-color2 font-bold py-2 px-4 rounded mr-2">
                Edit Service
            </a>
            <a href="{% url 'service_delete' service.pk %}"
                class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                Delete Service
            </a>
        </div>
        {% endif %}
    </main>
</div>
{% endblock %}