<aside class="w-64 bg-white shadow-md">
    <div class="p-4 flex justify-between items-center">
        {% if home.logo %}
        <img src="{{ home.logo.url }}" alt="Logo" class="h-8 w-auto">
        {% else %}
        <span class="text-lg font-bold">Dished Up Dining</span>
        {% endif %}
        <a href="/" class="text-sm text-blue-500 hover:text-blue-700">Back to Site</a>
    </div>
    <nav class="mt-5">
        <a href="{% url 'dashboard_home' %}" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-200">Dashboard</a>
        <a href="{% url 'edit_home' %}" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-200">Edit Home</a>
        <a href="{% url 'edit_feature' %}" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-200">Edit Feature</a>
        <a href="{% url 'gallery_list' %}" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-200">Galleries</a>
        <a href="{% url 'review_list' %}" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-200">Reviews</a>
        <a href="{% url 'service_list' %}" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-200">Services</a>
        <a href="{% url 'about_list' %}" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-200">About</a>
        <a href="{% url 'contact_list' %}" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-200">Contact Submissions</a>
        <a href="{% url 'analytics:dashboard' %}" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-200">Analytics Dashboard</a>
        <a href="{% url 'analytics:traffic_overview' %}" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-200">Traffic Overview</a>
        <a href="{% url 'analytics:user_behavior' %}" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-200">User Behavior</a>
        <a href="{% url 'analytics:conversions' %}" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-200">Conversions</a>
        <br>    
        {% if user.is_superuser %}
        <a href="{% url 'user_list' %}" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-200">User Management</a>
        <a href="{% url 'register_user' %}" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-200">Register New User</a>
        {% endif %}
       
        <form method="post" action="{% url 'logout' %}" class="inline">
            {% csrf_token %}
            <button type="submit" class="block py-2 px-4 text-sm text-red-700 hover:bg-red-200">
                Logout
            </button>
        </form>
    </nav>
</aside>