{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="Catering, Events, Flavour, Food,  outside catering, event catering funerals hot fork, finger food hot food delivery, intimate meals at home ">
    <meta name="description" content="Catering & Events Company, specialising in flavour fisrt food">

    {% block meta %}
    {% endblock %}
    <title>Dished Up Dining | Belfast Catering & Events </title>

    <!-- core css -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://fonts.cdnfonts.com/css/kiona-2" rel="stylesheet">
                
    {% block extra_css %}
    {% endblock %}
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="{{ MEDIA_URL }}favicon.ico">

    <!-- core js -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
    </script>
    <script src="https://cdn.tailwindcss.com"></script>

    <script src="https://kit.fontawesome.com/75b57bf907.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
        rel="stylesheet"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js"
        integrity="sha512-7x3zila4t2qNycrtZ31HO0NnJr8kg2VI67YLoRSyi9hGhRN66FHYWr7Axa9Y1J9tGYHVBPqIjSE1ogHrJTz51g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<section class="bg-white">

    <div class="container max-w-screen-xl mx-auto px-4">

        <nav class="flex-wrap lg:flex items-center py-14 xl:relative z-10" x-data="{navbarOpen:false}">

            <div class="flex items-center justify-between mb-10 lg:mb-0">
                {% if home.logo %}
                <a href="{% url 'index' %}">
                    <img src="{{ home.logo.url }}" alt="Logo img" class="h-40 md:h-30 lg:h-40 w-auto object-contain">
                </a>
                {% endif %}

                <button
                    class="lg:hidden w-10 h-10 ml-auto flex items-center justify-center border text-color1 border-color1 rounded-md"
                    @click="navbarOpen = !navbarOpen">
                    <i data-feather="menu"></i>
                </button>
            </div>

            <ul class="lg:flex flex-col lg:flex-row lg:items-center lg:mx-auto lg:space-x-8 xl:space-x-16"
                :class="{'hidden':!navbarOpen,'flex':navbarOpen}">

                <li
                    class="font-semibold text-gray-900 text-lg hover:text-gray-400 transition ease-in-out duration-300 mb-5 lg:mb-0">
                    <a href="{% url 'about' %}">About Us</a>
                </li>

                <li
                    class="font-semibold text-gray-900 text-lg hover:text-gray-400 transition ease-in-out duration-300 mb-5 lg:mb-0">
                    <a href="{% url 'services' %}">Services</a>
                </li>

                <li
                    class="font-semibold text-gray-900 text-lg hover:text-gray-400 transition ease-in-out duration-300 mb-5 lg:mb-0">
                    <a href="{% url 'contact' %}">Contact Us</a>
                </li>

                <li
                    class="font-semibold text-gray-900 text-lg hover:text-gray-400 transition ease-in-out duration-300 mb-5 lg:mb-0">
                    <a href="{% url 'menu' %}">Menu</a>
                </li>

            </ul>

            <button
                class="px-5 py-3 lg:block border-2 rounded-lg font-semibold text-color1 border-color1 text-lg hover:bg-custom-color3 
                hover:text-white transition ease-linear duration-500"
                :class="{'hidden':!navbarOpen,'flex':navbarOpen}">
                Request quote
            </button>

        </nav>
    </div>
</section>

{% block content %}

{% endblock %}

     <!-- footer -->
     <footer class="bg-white py-10 md:py-16">

        <div class="container max-w-screen-xl mx-auto px-4">

            <div class="flex flex-col lg:flex-row justify-between">
                <div class="text-center lg:text-left mb-10 lg:mb-0">
                    <div class="flex justify-center lg:justify-start mb-5">
                        <img src="{{ home.logo.url }}" alt="Logo img" class="h-40 md:h-30 lg:h-40 w-auto object-contain">
                    </div>

                    <p class="font-light text-gray-400 text-xl mb-10">Dished up Dining</p>

                    <div class="flex items-center justify-center lg:justify-start space-x-5">
                        <a href="#" class="px-3 py-3 bg-gray-200 text-gray-700 rounded-full hover:bg-green-800 hover:text-white transition ease-in-out duration-500">
                            <i data-feather="facebook"></i>
                        </a>

                        <a href="#" class="px-3 py-3 bg-gray-200 text-gray-700 rounded-full hover:bg-green-800 hover:text-white transition ease-in-out duration-500">
                            <i data-feather="twitter"></i>
                        </a>

                        <a href="#" class="px-3 py-3 bg-gray-200 text-gray-700 rounded-full hover:bg-green-800 hover:text-white transition ease-in-out duration-500">
                            <i data-feather="linkedin"></i>
                        </a>
                    </div>
                </div>

                <div class="text-center lg:text-left mb-10 lg:mb-0">
                    <h4 class="font-semibold text-gray-900 text-2xl mb-6">Sitemap</h4>

                    <a href="#" class="block font-light text-gray-400 text-xl mb-6 hover:text-gray-800 transition ease-in-out duration-300">Home</a>

                    <a href="#" class="block font-light text-gray-400 text-xl mb-6 hover:text-gray-800 transition ease-in-out duration-300">Features</a>
                    
                    <a href="#" class="block font-light text-gray-400 text-xl mb-6 hover:text-gray-800 transition ease-in-out duration-300">Gallery</a>
                    
                    <a href="#" class="block font-light text-gray-400 text-xl mb-6 hover:text-gray-800 transition ease-in-out duration-300">Testimoni</a>
                    
                    <a href="#" class="block font-light text-gray-400 text-xl mb-6 hover:text-gray-800 transition ease-in-out duration-300">Book a meeting</a>
                </div>

                <div class="text-center lg:text-left mb-10 lg:mb-0">
                    <h4 class="font-semibold text-gray-900 text-2xl mb-6">Landing</h4>

                    <a href="#" class="block font-light text-gray-400 text-xl mb-6 hover:text-gray-800 transition ease-in-out duration-300">Mobile App</a>

                    <a href="#" class="block font-light text-gray-400 text-xl mb-6 hover:text-gray-800 transition ease-in-out duration-300">Property</a>
                    
                    <a href="#" class="block font-light text-gray-400 text-xl mb-6 hover:text-gray-800 transition ease-in-out duration-300">Personal Website</a>
                    
                    <a href="#" class="block font-light text-gray-400 text-xl mb-6 hover:text-gray-800 transition ease-in-out duration-300">Web Developer</a>
                    
                    <a href="#" class="block font-light text-gray-400 text-xl mb-6 hover:text-gray-800 transition ease-in-out duration-300">Online Course</a>

                    <a href="#" class="block font-light text-gray-400 text-xl mb-6 hover:text-gray-800 transition ease-in-out duration-300">Donation</a>
                </div>

                <div class="text-center lg:text-left">
                    <h4 class="font-semibold text-gray-900 text-2xl mb-6">Utility</h4>

                    <a href="#" class="block font-light text-gray-400 text-xl mb-6 hover:text-gray-800 transition ease-in-out duration-300">FAQ</a>

                    <a href="#" class="block font-light text-gray-400 text-xl mb-6 hover:text-gray-800 transition ease-in-out duration-300">Terms & Conditions</a>
                </div>
            </div>

        </div> <!-- container.// -->

    </footer>
    <!-- footer //end -->


{% block postloadjs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
{% endblock %}

<script>
    feather.replace()
</script>

</body>

</html>